name: Deploy to Hugging Face Spaces

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to Hugging Face Spaces
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git remote add huggingface https://aniketp2009gmail:$HF_TOKEN@huggingface.co/spaces/aniketp2009gmail/OmniDoc-QA-LLM-RAG || true
          git push huggingface main --force
